:root {
　font-size: calc( 1vw + 1vh + .5vmin );
}

/* attribute */
body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
div{
  box-sizing: border-box;
}
P{
  line-height: 1.5;
}
h2{
  font-size: 1.4rem;
  line-height: 1.2;
}

/* common */
.clearfix:after{
  content:'';
  clear:both;
  display: block;
}
.container{
  width: 1080px;
  margin: auto;
}

/* headline */
.headline{
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 10px;
}

/* header */
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.left-header{
  width: 45%;
  display: flex;
  flex-direction: column;
  float: right;
  text-align: right;
}
  .bc_logo_wrapper{
    margin-top: 5px;
    margin-left:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bc_logo{
    display: table-cell;
    vertical-align: middle;
    height: 30px;
  }
  h1{
    margin-left: 5px;
    display: inline-block;
    font-size: 1.5rem;
  }
  .company_logo_wrapper{
    margin:5px 0 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .company_logo{
    height: 20px;
    display: block;
  }
  .company_name{
    margin-left: 5px;
    font-size: 1.0rem;
  }
.center-header{
  width: 35%;
}
  .center-header p{
    font-size: 0.8rem;
  }
.right-header{
  width: 20%;
}
  .tel_no{
    font-size: 1.2rem;
    color: #CD1824;
    text-decoration: underline;
  }
  .tel_time{
    font-size: 0.8rem;
    color: #666;
  }

/* hero */
section{
  margin: 20px auto;
}
section.hero{
  position: relative;
}
.hero-text{
  position: absolute;
  text-align: right;
  top: 20px;
  right: 50px;
}
  .hero h2{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid #999;
  }
  .hero p{
    top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #666;
  }
  .hero .strong{
    color: #CD1824;
  }
.hero-image{
  width: 100%;
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 34.27%;
  background: url("../img/DSC01510.jpg") 0 0 no-repeat;
  background-size: contain;
}
/* button */
.button_wrapper{
  position: relative;
  top: -120px;
  text-align: right;
}
  a.button {
    position: relative;
    right: 100px;
    text-align: center;
    font-size:1.5rem;
    line-height: 2.0rem;
    font-family:Arial;
    font-weight:normal;
    border-radius:5px;
    border:1px solid #d83526;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
    background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
    background-color:#fa665a;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #98231a;
    -webkit-box-shadow:inset 1px 1px 0px 0px #fab3ad;
    -moz-box-shadow:inset 1px 1px 0px 0px #fab3ad;
    box-shadow:inset 1px 1px 0px 0px #fab3ad;
  }
  .button:hover {
    background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
    background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
    background-color:#d34639;
  }
  .button:active {
    position:relative;
    top:1px;
  }

/* feature */
.heading{
  width: 100%;
  padding: 15px;
  background-color: #000;
  text-align: center;
}
.heading h3{
  font-size: 3.0rem;
  color: #fff;
}
.description{
  text-align: center;
}
.description li{
  margin: 15px auto;
  font-size: 2.5rem;
}

/* other sction */
.section_title{
  margin-bottom: 4px;
  margin-top: 20px;
  padding-left: 6px;
  border-left: 4px solid #CD1824;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 16px;
}
.section_list{
  padding: 0 20px;
  padding-bottom: 20px;
}
.section_text{
  display: list-item;
  line-height: 1.71;
  padding: 4px 0 0;
  padding-left: 12px;
}
.section_text::before{
  content: '・';
  position: absolute;
  left: 5px;
}



/*.button{
  text-align: center;
  vertical-align: middle;
}
.button a{
  display: inline-block;
  width: 300px;
  padding: 20px;
  background: #CB4F4E;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  color: white;
  border-radius: 5px;
  transition: .4s;
  cursor: pointer;
}
.button:hover {
  opacity: .8;
}*/

/* footer */
footer{
  text-align: center;
  color: #ccc;
  padding: 60px 0;
}

/* two_columns */
.two_columns img{
  width: 100%;
}.two_columns .item{
  margin-bottom: 60px;
}.two_columns .item:last-child{
  margin-bottom: 0;
}

/* three_columns */
.three_columns img{
  width: 100%;
}
.three_columns .item{
  text-align: center;
}
.three_columns p{
  text-align: left;
}
.three_columns .item{
  margin-bottom: 60px;
}.three_columns .item:last-child{
  margin-bottom: 0;
}

/* contact */
.contact{
  text-align: center;
}
.contact p{
  line-height: 2;
  margin: 15px auto;
}
